body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  z-index: 5;
}

#threejs-scene-displayer {
  width: 100%;
  height: 65%;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 500;
}

#current-segment-name-text {
  background-color: white;
  z-index: 5;
}

.animation-button {
  position: absolute;
  right: 10px;
  z-index: 5;
  background-color: #ddd;
  &:hover {
    background-color: white;
  }
}

.fa:hover {
  color: red !important;
}

#text-displayer {
  width: 100%;
  height: 35%;
  overflow-y: auto;
  background-color: rgb(52, 53, 65);
  color: #ffffff;
  padding: 10px;
}

#text-displayer-header {
  width: 100%;
  height: 100;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #1b9cfc;
  border-radius: 5px;
  box-shadow: 5px;
}

#report-metadata-displayer {
  width: 60%;
  height: 100%;
}

#report-type-and-date-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#simplified-text-language-select-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
